<% provide(:title, "DALI members") %>
<div class="container">
	<h1>Members of the DALI Lab</h1>
	
	<div class="btn-group" data-toggle="buttons">
		<a href="/dalimembers" class="btn btn-secondary">All</a>
		<a href="/dalimembers?term=17W" class="btn btn-secondary">17W</a>
		<a href="/dalimembers?term=17S" class="btn btn-secondary">17S</a>
		<a href="/dalimembers?term=17X" class="btn btn-secondary">17X</a>
		<a href="/dalimembers?term=17F" class="btn btn-secondary">17F</a>
	</div>
	
	<!-- Add this later if I have time
	<div class="btn-group" data-toggle="buttons">
		<a href="/dalimembers" class="btn btn-secondary">All</a>
		<a href="/dalimembers?term=17W" class="btn btn-secondary">Staff</a>
		<a href="/dalimembers?term=17S" class="btn btn-secondary">NeuroViz</a>
		<a href="/dalimembers?term=17X" class="btn btn-secondary">BASIIC</a>
		<a href="/dalimembers?term=17F" class="btn btn-secondary">Changing Perspectives</a>
		<a href="/dalimembers?term=18W" class="btn btn-secondary">PsychVR</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Core</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Pulse</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Life You Can Lead</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Seabird Apps</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Protein Structure Builder</a
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Clearpay</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Grafficity</a>
		<a href="/dalimembers?term=18S" class="btn btn-secondary">Core</a>
	</div>
	-->
	
	<br><br>

	<% def do_this(member, int, num) %>
		<% if int % num == 0 %>
			<div class="row">
		<% end %>
		<div class="col-md-<%= 12 / num %> col-sm-4 col-xs-6">
			<img src="http://mappy.dali.dartmouth.edu/<%= member['iconUrl'] %>" class="memberpic">
			<h1>
				<%= member['name'] %>
				<% lat = member['lat_long'][0] %>
				<% long = member['lat_long'][1] %>
				<a href="https://www.google.com/maps/@<%= lat %>,<%= long %>,18z"> 
					<i class="fas fa-map-marker-alt"></i>
				</a>
				<% if member['url'] != "" %>
					<% if member['url'][0, 1] == "//" %>
					<a href="http://<%= member['url'][2,-1] %>">
					<% else %>
					<a href="<%= member['url'] %>">
					<% end %>
						<i class="fas fa-desktop"></i>
					</a>
				<% end %>
			</h1>
			<h2>
				<% for term in member['terms_on'] %>
					<%= term %> 
				<% end %>
				<% if member['project'] != [""] %>
					<% for item in member['project'] %>
						- <%= item %>
					<% end %>
				<% end %>
			</h2>
			<p><%= member['message'] %></p>
		</div>
		<% if int % num == 3 %>
			</div>
		<% end %>
	<% end %>
	
	<% int = 0 %>
	<% @selected.each do |member| %>
		<% do_this(member, int, 4) %>
		<% int = int + 1 %>
	<% end %>

</div>