<% provide(:title, "DALI Members") %>
<div class="container">
	<h1>Members of the DALI Lab</h1>
	<div class="row">
	<% require 'open-uri' %>
	<% parsed_json = JSON.parse(open("http://mappy.dali.dartmouth.edu/members.json").read) %>
	<% int = 1 %>
	<% parsed_json.each do |member| %>
		<div class="col-md-3 mx-auto">
			<img src="http://mappy.dali.dartmouth.edu/<%= member['iconUrl'] %>" class="memberpic">
			
			<h1>
				<%= member['name'] %>
				<% lat = member['lat_long'][0] %>
				<% long = member['lat_long'][1] %>
				<a href="https://www.google.com/maps/@<%= lat %>,<%= long %>,18z"> 
					<i class="fas fa-map-marker-alt"></i>
				</a>
				<% if member['url'] != "" %>
					<% if member['url'][0, 1] == "//" %>
					<a href="http://<%= member['url'][2,-1] %>">
					<% else %>
					<a href="<%= member['url'] %>">
					<% end %>
						<i class="fas fa-desktop"></i>
					</a>
				<% end %>
			</h1>
			<!-- <h2>
				<% for term in member['terms_on'] %>
					<% term %> 
				<% end %>
				<% if member['project'] != [] %>
					<% for item in member['project'] %>
						- <%= item %>
					<% end %>
				<% end %>
			</h2> -->
			
			<p><%= member['message'] %></p>
		</div>
	<% end %>
	</div>
</div>